body {
    margin: auto;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ubuntu";
}

header {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 18px 79px;
}

.header-title {
    display: inline-block;
    text-align: left;
    width: 172px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.header-body {
    display: flex;
}

.header-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 25px;
}

.vl {
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    height: 19px;
    margin-left: 26px;
    padding-right: 26px;
}

.header-text {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.header-text a {
    text-decoration: none;
    color: #FFFFFF;
}

/*---header hover---*/

header:hover {
    background-color: #000000;
    mix-blend-mode: normal;
    opacity: 0.41;
}

.header-title:hover {
    color: #01813F;
}

.header-text:hover a {
    color: #01813F;
}

path:hover {
    fill: #01813F;
}

/*---header hover---*/

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container {
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    position: relative;
}

.form-wrapper {
    width: 324px;
    height: 584px;
    margin-left: auto;
    margin-right: auto;
}

.common-form-text {
    font-weight: 400;
}

.common-form-text-regular {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 0.875rem;
}

.section-form-text {
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.text-legend::before {
    content: url("../img/img.png");
    position: absolute;
    left: 0;
}

.text-legend {
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.form-text-green {
    color: #3cb878;
    text-decoration: none;
}

.form-container {
    height: 524px;
    margin-top: 13px;
}

.common-btn {
    box-sizing: border-box;
    width: 160px;
    height: 48px;
    position: relative;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    text-align: right;
    cursor: pointer;
}

.common-btn::before {
    content: url("../img/rectangle.png");
    position: absolute;
    left: 49px;
    top: 10px;
}

.btn-facebook {
    background-color: #305db8;
    padding-right: 22px;
}

.btn-google {
    background-color: #DF4A32;
    padding-right: 27px;
}

.fb-btn-img {
    position: absolute;
    left: 17px;
    top: 12px;
}

.google-btn-img {
    position: absolute;
    left: 10px;
    top: 15px;
}

.separator {
    display: block;
    height: 14px;
    margin-top: 31px;
    margin-bottom: 12px;
    position: relative;
    text-align: center;
}

.separator::after {
    content: url("../img/line.png");
    position: absolute;
    right: 0px;
    bottom: 3px;
}

.separator::before {
    content: url("../img/line.png");
    position: absolute;
    left: 0px;
    bottom: 3px;
}

.common-input {
    box-sizing: border-box;
    width: 332px;
    height: 44px;
    margin-bottom: 15px;
    padding-left: 20px;
    color: black;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    display: block;
}

.common-input::placeholder {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 0.875rem;
    color: #BEBEBE;
}

.common-input:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

.common-input:active {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

.label-checkbox {
    max-width: 324px;
}

.input-checkbox {
    display: none;
}

.checkbox-terms {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    position: relative;
    top: 4px;
    margin: 0 8px 0 0;
}

.checkbox-terms::after {
    content: url("../img/vector.png");
    position: absolute;
    top: 2px;
    left: 2px;
    opacity: 0;
}

.input-checkbox:checked+.checkbox-terms::after {
    opacity: 1;
}

.btn-create {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
    width: 324px;
    height: 46px;
    background-color: #3cb87880;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 38px;
    cursor: pointer;
}

/*---form hover---*/

.form-text-green:hover {
    color: #01813F;
    text-decoration: underline;
}

.btn-facebook:hover {
    background-color: #022263;
}

.btn-google:hover {
    background-color: #AB1F09;
}

.btn-create:hover {
    background-color: #01813F;
}

/*---form hover---*/